@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fascinate&family=Indie+Flower&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Indie+Flower&family=Satisfy&display=swap');
body {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-family: 'Fascinate', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Satisfy', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #139992;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.rock {
  background-color: rgb(240, 196, 155);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
